name: Cache Dependencies

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-8ca11d7

      - name: prime-cache-8ca11d7
        run: echo "Cache hit: ${{ steps.cache.outputs.cache-hit }}"
